$pricolor: #ffa726;
$bg: #253138;
$cardcolor: #2f3e47;
$fontcolor: #FFFFFF;
$bodercolor: rgba(255, 255, 255, .1);
$navbar: #394c57;
$bordercard: #394c57;

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif, Tahoma;
  background-color: $bg;
}

.warp-react {
  width: 1330px;
  margin: 0 auto;
}

.containers {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.web-logo {
  padding-top: 6px;
  width: 210px;
  cursor: pointer;
}

.header-top {
  padding: 0;
  background-color: $navbar;
  -webkit-transition: all .3s;
  transition: all .3s;
  //-webkit-box-shadow: 0 2px 8px #f0f1f2;
  //box-shadow: 0 2px 8px #f0f1f2;
  position: relative;
  z-index: 10;
  max-width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  //border-bottom: 1px solid $pricolor;
}

.header-top-sub {
  padding: 3px 0;
  background-color: #007ac1;
  margin-bottom: 30px;
}

.header-menu {
  line-height: 64px;
  border-bottom: 0;
  float: right;
  background-color: transparent;
}

.header-menu .ant-menu-item {
  color: $fontcolor;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 1px solid $pricolor;
  background-color: $pricolor;
  color: $cardcolor;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  color: $fontcolor;
}

.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-item-active:hover{
  border-bottom: 1px solid $pricolor;
  background-color: $pricolor;
  color: $cardcolor;
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  margin-right: 5px;
}

.card-box {
  //-webkit-transition: all .3s;
  //transition: all .3s;
  //-webkit-box-shadow: 0 2px 8px #f0f1f2;
  //box-shadow: 0 2px 8px #f0f1f2;
  position: relative;
  background-color: $cardcolor;
}

.ant-card-bordered {
  border: 1px solid $bordercard;
}

.card-box .ant-card-head {
  background-color: transparent;
  border-bottom: transparent;
}

.table-rank .ant-card-body {
  // min-height: 560px;
}

.card-box .ant-card-head {
  padding: 0 16px;
  min-height: 39px;
}

.card-box .ant-card-head-title {
  color: $fontcolor;
  font-size: 18px;
  padding: 14px 0;
}

.card-box .ant-card-head-title > span > i.anticon {
  margin-right: 5px;
  vertical-align: text-bottom;
  font-size: 120%;
}

.card-box .ant-card-body {
  padding: 12px 16px;
}

.card-box .ant-table-tbody > tr:hover > td {
  background-color: transparent;
}

.card-box table .ant-table-tbody > tr:last-of-type > td {
  /*  border-bottom: 0;*/
}

.ant-table-thead > tr > th {
  background-color: transparent;
}

.card-box .ant-table-thead > tr > th span i.anticon {
  margin-right: 5px;
  color: $fontcolor;
  font-size: 18px;
  vertical-align: text-top;
}

.card-box .ant-table-thead > tr > th:nth-of-type(1) span i.anticon {
  margin-right: 0;
}

.table-rank .ant-table-thead > tr > th:nth-of-type(2) {
  width: 1%;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  border-color: $bodercolor;
  color: $fontcolor;
}

.table-rank .ant-table-thead > tr > th:nth-of-type(1),
.table-rank .ant-table-tbody > tr > td:nth-of-type(1),
.table-rank .ant-table-thead > tr > th:nth-of-type(2),
.table-rank .ant-table-tbody > tr > td:nth-of-type(2) {
  text-align: center;
}

.table-rank .ant-table-tbody > tr > td:nth-of-type(3) {
  font-weight: bold;
  color: $fontcolor;
}

.table-rank .ant-table-tbody > tr > td:nth-of-type(3),
.table-rank .ant-table-tbody > tr > td:nth-of-type(4) {
  width: 12%;
}

.table-rank .ant-table-tbody > tr > td:nth-of-type(4) {
  color: $pricolor;
}

.table-rank .ant-table-tbody > tr > td:nth-of-type(9) {
  font-size: 18px;
}

.table-rank .ant-table-tbody > tr > td:nth-of-type(9) i:hover,
.table-rank .ant-table-tbody > tr > td:nth-of-type(9) i:active {
  color: $pricolor;
}

.table-rank .ant-table-tbody > tr > td:nth-of-type(9) i {
  vertical-align: text-bottom;
  cursor: pointer;
}

.actions-list .ant-dropdown-menu-item {
  padding: 7px 22px;
}

.graph-week-rank {
  width: 164px;
}

.zone-bottom-rank {
  margin-top: 10px;
  text-align: center;
}

.ant-btn-primary {
  background-color: $pricolor;
  border-color: $pricolor;
  color: $cardcolor;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  background-color: $pricolor;
  border-color: $pricolor;
  color: $cardcolor;
}

.btn-trade-now {
  //border: 1px solid $border;
}